/* General Styles */
.app-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

h2 {
  font-size: 1.3rem;
  color: #555;
}

section {
  margin-bottom: 30px;
}

/* URL Shortener Section */
.url-shortener {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #444;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.url-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.btn {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 15px;
}

.qr-result img {
  display: block;
  margin: 15px auto 0;
  width: 120px;
  height: 120px;
  max-width: 100%;
}

/* URL List Section */
.url-list {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.url-list ul {
  list-style: none;
  padding: 0;
}

.url-list li {
  margin-bottom: 15px;
}

.url-item {
  display: flex;
  flex-direction: column;
}

.save-btn, .delete-btn {
  margin-top: 10px;
  width: 100%;
}

.save-btn {
  background-color: #28a745;
}

.save-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 768px) {
  .app-container {
    max-width: 800px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .url-shortener, .url-list {
    padding: 20px;
  }

  .input-group {
    flex-direction: row;
    align-items: center;
  }

  .url-input {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .btn {
    width: auto;
  }

  .save-btn, .delete-btn {
    width: auto;
  }
}
